/**
 * ReSass.
 *
 * MIXIN: Responsive Media Queries.
 *
 * Creates responsive media queries for seven different screen sizes.
 * These are based on min-width which means if x is the size then your
 * CSS will affect any device with screen width x and above.
 *
 * USAGE:
 *	@include r(240)  { }
 *	@include r(320)  { }
 *	@include r(480)  { }
 *	@include r(768)  { }
 *	@include r(1024) { }
 *	@include r(1140) { }
 *	@include r(1280) { }
 *  @include r(1500) { }
 *
 * CSS content goes inside {} brackets. These mixins should be used inside
 * a class definition. For example:
 *
 * The following CSS will hide the .header on screen width 320px and above.
 * .header {
 * 	  @include r(320)  { display: none; }
 * }
 *
 * @author  Ahmad Awais (https://github.com/ahmadawais)
 * @link    https://github.com/ahmadawais/ReSass.git
 * @version 1.0.0
 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html {
  scroll-behavior: smooth;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  box-sizing: border-box;
  position: relative;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Rubik-regular", sans-serif;
}

.container {
  margin: 0 auto;
  height: 100%;
  /*     max-width: 1280px; */
  width: 90%;
}

@media (min-width: 1024px) {
  .container {
    width: 85%;
  }
}
@media (min-width: 1280px) {
  .container {
    width: 70%;
  }
}
@keyframes scroll-animation {
  0% {
    transform: translateY(5px);
    opacity: 1;
  }
  100% {
    transform: translateY(35px);
    opacity: 0;
  }
}
/* rubik-300 - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  src: local("Rubik Light"), local("Rubik-Light"), url("../fonts/rubik-v8-latin-300.woff2") format("woff2"), url("../fonts/rubik-v8-latin-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-regular - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: local("Rubik"), local("Rubik-Regular"), url("../fonts/rubik-v8-latin-regular.woff2") format("woff2"), url("../fonts/rubik-v8-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-500 - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: local("Rubik Medium"), local("Rubik-Medium"), url("../fonts/rubik-v8-latin-500.woff2") format("woff2"), url("../fonts/rubik-v8-latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-500italic - latin */
@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 500;
  src: local("Rubik Medium Italic"), local("Rubik-MediumItalic"), url("../fonts/rubik-v8-latin-500italic.woff2") format("woff2"), url("../fonts/rubik-v8-latin-500italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* $font-headline: 24px regular;
$font-title: 20px medium;
$font-subheader: 16px regular;
$font-body2: 14px medium;
$font-body1: 14px regular;
$font-caption: 12px regular;
$font-button: 12px medium capitalize; */
.section-title {
  display: flex;
  justify-content: center;
}
.section-title h1 {
  position: relative;
  color: #515f6c;
  font-size: 1.8rem;
  font-family: "Rubik-medium", sans-serif;
  margin: 20px 0;
}
.section-title h1::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;
  right: 0;
  width: 70%;
  height: 2px;
  margin: 0 auto;
  background: #667eea linear-gradient(90deg, #667eea 0%, #764ba2 100%);
  border-radius: 2px;
}

.contrast-section {
  background-color: #F7F7F7;
}

.section-padding {
  padding: 100px 0;
  height: 100%;
  /*     min-height: 650px;
   */
}

.split-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
}
@media (min-width: 768px) {
  .split-view {
    flex-direction: row;
  }
}

.split-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.split-col:first-child {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .split-col {
    width: 50%;
  }
  .split-col:first-child {
    margin-bottom: 0;
  }
}

.btn {
  width: 140px;
  height: 45px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  color: #ffffff;
}
@media (min-width: 480px) {
  .btn {
    width: 160px;
  }
}

.btn-flat {
  background: none;
  border: 1px solid #ffffff;
}

.btn-gradient {
  background: #667eea linear-gradient(90deg, #667eea 0%, #764ba2 100%);
  border: none;
}

.hero-header {
  padding-top: 50px;
  background: #667eea linear-gradient(90deg, #667eea 0%, #764ba2 100%);
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  transition: padding 0.4s cubic-bezier(0, 0, 0.2, 1), box-shadow 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.hero-header.scroll {
  padding: 10px 0;
}
.hero-header.box-shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.nav-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.sidebar-trigger {
  position: absolute;
  left: 0;
  height: 100%;
  display: flex;
}
@media (min-width: 768px) {
  .sidebar-trigger {
    display: none;
  }
}
.sidebar-trigger i {
  align-self: center;
  color: #ffffff;
  font-size: 24px;
  vertical-align: middle;
}

.logo-brand {
  width: 160px;
  height: 100%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .logo-brand {
    margin: 0;
  }
}

.nav-links {
  display: none;
  list-style: none;
  position: relative;
}
@media (min-width: 768px) {
  .nav-links {
    display: flex;
    align-items: center;
  }
  .nav-links li {
    padding: 0 24px;
  }
}

.section-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.5;
  font-family: "Rubik-light", sans-serif;
  font-size: 0.8em;
  transition: opacity 0.4s cubic-bezier(0, 0, 0.2, 1);
}
.section-link.current, .section-link:hover {
  opacity: 1;
}

.indicator {
  position: absolute;
  bottom: 0;
  width: 38px;
  left: 24px;
  right: 62px;
  height: 2px;
  border-radius: 2px;
  background-color: #ffffff;
  transform-origin: center;
}

.sidenav-trigger {
  position: absolute;
  left: 0;
  height: 100%;
  display: flex;
}
@media (min-width: 768px) {
  .sidenav-trigger {
    display: none;
  }
}
.sidenav-trigger i {
  position: relative;
  font-size: 24px;
  color: #ffffff;
  align-self: center;
  cursor: pointer;
}

.sidenav {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  width: 250px;
  height: 100%;
  background-color: #ffffff;
  transform: translateX(-250px);
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.sidenav-visible {
  transform: translateX(0);
}

.sidenav-header {
  height: 100px;
  width: 100%;
}

.sidenav-links {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.sidenav-links li {
  display: flex;
  align-content: center;
  align-items: center;
  height: 45px;
  padding: 0 30px;
}
.sidenav-links li i {
  font-size: 16px;
  color: #cad1d8;
  margin-right: 10px;
}
.sidenav-links li a {
  text-decoration: none;
  color: #515f6c;
}
.sidenav-links li:hover {
  background-color: #e5e8eb;
  cursor: pointer;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s cubic-bezier(0, 0, 0.2, 1);
}

.overlay-visible {
  opacity: 1;
  pointer-events: auto;
}

.big-hero {
  position: relative;
  height: 100vh;
  width: 100%;
  background: #667eea linear-gradient(90deg, #667eea 0%, #764ba2 100%);
}

.header-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header-message {
  margin: auto;
  color: #ffffff;
  max-width: 550px;
}
.header-message h1, .header-message h2 {
  font-family: "Rubik-mediumitalic", sans-serif;
  margin-bottom: 24px;
}
.header-message h2 {
  font-size: 2rem;
}
.header-message h1 {
  font-size: 2.5rem;
}
.header-message p {
  font-size: 1rem;
  font-family: "Rubik-light", sans-serif;
  text-align: center;
  margin-bottom: 32px;
}
@media (min-width: 480px) {
  .header-message h2 {
    font-size: 2.5rem;
  }
  .header-message h1 {
    font-size: 3rem;
  }
  .header-message p {
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  .header-message h2 {
    font-size: 2.5rem;
  }
  .header-message h1 {
    font-size: 3.5rem;
  }
  .header-message p {
    font-size: 1.2rem;
  }
}
@media (min-width: 1024px) {
  .header-message h2 {
    font-size: 3rem;
  }
  .header-message h1 {
    font-size: 4rem;
  }
  .header-message p {
    font-size: 1.5rem;
  }
}

.header-btn {
  display: flex;
  justify-content: center;
}
.header-btn a:first-child {
  margin-right: 32px;
}

.scroll-wrapper {
  position: absolute;
  bottom: 16px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.scroll-icon {
  position: relative;
  width: 25px;
  height: 40px;
  border: 2px solid #ffffff;
  border-radius: 15px;
  opacity: 0.2;
}
.scroll-icon::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  width: 7px;
  height: 7px;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 0 auto;
  animation: scroll-animation 1.5s cubic-bezier(0, 0, 0.2, 1) 1s infinite;
}

.about-header {
  font-size: 1.5rem;
  font-family: "Rubik-Medium", sans-serif;
  color: #515f6c;
}
@media (min-width: 768px) {
  .about-header {
    font-size: 1.7rem;
    max-width: 60%;
  }
}

.about-subheader {
  margin: 10px 0 32px 0;
  font-size: 1rem;
  color: #606d7b;
  font-family: "Rubik-MediumItalic", sans-serif;
}
@media (min-width: 768px) {
  .about-subheader {
    max-width: 70%;
  }
}

.about-paragraph {
  font-size: 0.8rem;
  color: #606d7b;
  font-family: "Rubik-regular", sans-serif;
}
.about-paragraph:last-child {
  margin: 10px 0;
}
@media (min-width: 768px) {
  .about-paragraph {
    max-width: 95%;
  }
}

.about-image {
  align-self: center;
  width: 100%;
  max-width: 500px;
  height: auto;
}

.skill-wrapper {
  min-width: 100%;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-bottom: 20px;
}
.skill-wrapper:last-child {
  margin-bottom: 0;
}

.skill-name, .skill-percent {
  font-family: "Rubik-light", sans-serif;
  font-size: 0.8em;
  color: #606d7b;
}

.skill-progress {
  position: relative;
  width: 100%;
  height: 7px;
  margin: 5px 0;
  background-color: #e5e8eb;
  border-radius: 4px;
}
.skill-progress:after {
  position: absolute;
  content: "";
  height: 7px;
  border-radius: 4px;
  background: #667eea linear-gradient(90deg, #667eea 0%, #764ba2 100%);
}

#html5::after {
  width: 66%;
}

#css3::after {
  width: 90%;
}

#js::after {
  width: 45%;
}

#design::after {
  width: 50%;
}

.skill-percent {
  align-self: flex-end;
}

.skill-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .skill-col {
    max-width: 90%;
  }
}

.skill-header {
  margin-bottom: 20px;
  font-family: "Rubik-medium", sans-serif;
  font-size: 1.5em;
  color: #515f6c;
}

.skill-paragraph {
  font-size: 0.8em;
  color: #606d7b;
  margin: 5px 0;
}
@media (min-width: 768px) {
  .skill-paragraph {
    max-width: 75%;
  }
}

.skill-btn {
  margin-top: 24px;
  align-self: flex-end;
}

footer {
  height: 150px;
  width: 100%;
  background: #667eea linear-gradient(90deg, #667eea 0%, #764ba2 100%);
}

/*# sourceMappingURL=main.css.map */
