.about-header{
    font-size: 1.5rem;
    font-family: 'Rubik-Regular', sans-serif;
    color: $grey-shade4;
    text-align: center;

    @include r(768){
        text-align: left;
        font-size: 1.7rem;
    }
}

.about-subheader{
    margin: 10px 0 32px 0;
    font-size: 1rem;
    color: $grey-shade5;
    font-family: 'Rubik-MediumItalic', sans-serif;
    
    @include r(768){
    }
}

.about-paragraph{
    font-size: 0.8rem;
    color: $grey-shade6;
    line-height: 1.4rem;
    font-family: 'Rubik-light', sans-serif;
    text-align: justify;

    &:last-child{
        margin: 10px 0;
    }
    
    @include r(768){
        text-align: left;
        font-size: 1rem;
    }
}

.about-image{
    width: 100%;
    max-width: 500px;
    height: auto;
    
}

.about-image-mobile{
    max-width: 150px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 25px;

    @include r(768){
        display: none;
    }
}