.sidenav-trigger{
    position: absolute;
    left: 0;
    height: 100%;
    display: flex;

    @include r(768){
        display: none;
    }

    i{
        position: relative;
        font-size: 24px;
        color: #ffffff;
        align-self: center;
        cursor: pointer;
    }
}

.sidenav{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    width: 250px;
    height: 100%;
    background-color: #ffffff;
    transform: translateX(-250px);
    transition: transform 0.4s cubic-bezier(.4,0,.2,1);
}

.sidenav-visible{
    transform: translateX(0);
}

.sidenav-header{
    background: $gradient-bg;
    margin-bottom: 20px;
    height: 100px;
    width: 100%;
}

.sidenav-links{
    height: 100%;
    display: flex;
    flex-direction: column;

    li{
        display: flex;
        align-content: center;
        align-items: center;
        height: 45px;
        padding: 0 30px;
        
        i{
            font-size: 16px;
            color: $grey-shade8;
            margin-right: 10px;
        }
        
        a{
            text-decoration: none;
            color: $grey-shade4;
        }

        &:hover{
            background-color: $grey-shade9;
            cursor: pointer;
        }
    }
}

.dark-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0,0,0,.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s cubic-bezier(0.0,0.0,0.2,1);
}

.overlay-visible{
    opacity: 1;
    pointer-events: auto;
}