.btn-flat{
    width: 140px;
    height: 45px;
    background: none;
    border: 1px solid #ffffff;
    border-radius: $main-border-radius;
    cursor: pointer;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    color: #ffffff;

    @include r(480){
        width: 160px;
    }
}