.section-title{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    h1{
        position: relative;
        color: $grey-shade4;
        font-size: 1.8rem;
        font-family: 'Rubik-medium', sans-serif;
        margin: 20px 0;

        &::after{
            content: '';
            position: absolute;
            bottom: -12px;
            left: 0;
            right: 0;
            width: 70%;
            height: 2px;
            margin: 0 auto;
            background: $gradient-bg;
            border-radius: 2px;
        }
    }
}


.contrast-section{
    background-color: $contrast-bg;
}

.section-padding{
    padding: 80px 0;
    height: 100%;
}

.split-view{
    min-height: 650px;
    margin: 40px 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 100px;

    @include r(768){
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
        grid-row-gap: 100px;
    }
}

.split-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    &:nth-child(2), &:nth-child(3), &:nth-child(6){
        display: none;
    }

    @include r(768){
        &:nth-child(2), &:nth-child(3), &:nth-child(6){
            display: flex;
        }
        &:nth-child(2), &:nth-child(6){
            align-items: flex-end;
        }
    }
}