// Primary colors

$primary-shade1: hsl(234, 62%, 26%);
$primary-shade2: hsl(232, 51%, 36%);
$primary-shade3: hsl(230, 49%, 41%);
$primary-shade4: hsl(228, 45%, 45%);      //shade used for main color
$primary-shade5: hsl(227, 42%, 51%);
$primary-shade6: hsl(227, 50%, 59%); 
$primary-shade7: hsl(225, 57%, 67%);
$primary-shade8: hsl(224, 67%, 76%);
$primary-shade9: hsl(221, 78%, 86%);
$primary-shade10: hsl(221, 68%, 93%);

// Neutrals colors

$grey-shade1: hsl(210, 24%, 16%);
$grey-shade2: hsl(209, 20%, 25%);
$grey-shade3: hsl(209, 18%, 30%);
$grey-shade4: hsl(209, 14%, 37%);       //shade used for main color
$grey-shade5: hsl(211, 12%, 43%);
$grey-shade6: hsl(211, 10%, 53%);
$grey-shade7: hsl(211, 13%, 65%);
$grey-shade8: hsl(210, 16%, 82%);
$grey-shade9: hsl(214, 15%, 91%);
$grey-shade10:hsl(216, 33%, 97%);

// ------------------ Accent colors ------------------

// red

$red-shade1: hsl(348, 94%, 20%);
$red-shade2: hsl(350, 94%, 28%);
$red-shade3: hsl(352, 90%, 35%);
$red-shade4: hsl(354, 85%, 44%);        //shade used for main color
$red-shade5: hsl(356, 75%, 53%);
$red-shade6: hsl(360, 83%, 62%);
$red-shade7: hsl(360, 91%, 69%);
$red-shade8: hsl(360, 100%, 80%);
$red-shade9: hsl(360, 100%, 87%);
$red-shade10: hsl(360, 100%, 95%);

// yellow

$yellow-shade1: hsl(15, 86%, 30%);
$yellow-shade2: hsl(22, 82%, 39%);
$yellow-shade3: hsl(29, 80%, 44%);
$yellow-shade4: hsl(36, 77%, 49%);      //shade used for main color
$yellow-shade5: hsl(42, 87%, 55%);
$yellow-shade6: hsl(44, 92%, 63%);
$yellow-shade7: hsl(48, 94%, 68%);
$yellow-shade8: hsl(48, 95%, 76%);
$yellow-shade9: hsl(48, 100%, 88%);
$yellow-shade10: hsl(49, 100%, 96%);

// green

$green-shade1: hsl(170, 97%, 15%);
$green-shade2: hsl(168, 80%, 23%);
$green-shade3: hsl(166, 72%, 28%);
$green-shade4: hsl(164, 71%, 34%);      //shade used for main color
$green-shade5: hsl(162, 63%, 41%);
$green-shade6: hsl(160, 51%, 49%);
$green-shade7: hsl(158, 58%, 62%);
$green-shade8: hsl(156, 73%, 74%);
$green-shade9: hsl(154, 75%, 87%);
$green-shade10: hsl(152, 68%, 96%);